.endomorphic {
	background-color: firebrick;
}

.headliner {
	background: firebrick;
	color: white;
	font-family: Georgia;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin: auto;
	width: 1000px;
	border: 2px solid white;
}

.article-list {
	background: #e5e5e5;
	border: 12px solid white;
	margin: auto;
	width: 1000px;
	font-family: Bahnschrift;
}

.article {
	background: white;
	display: flex;
	width: 1000px;
	margin-top: 3px;
	border-bottom: 10px;
}

.article-image {
	object-fit: cover;
	margin-right: 10px;
	cursor: pointer;
}

.article-thumbnail {
	width: 100px;
	height: 100px;
	object-fit: cover;
	cursor: pointer;
	margin-right: 30px;
}

.article-hover {
	background-color: aliceblue;
}

.expand-button {
	width: 50px;
	float: right;
	margin-left: auto;
	font-family: Bahnschrift;
	background-color: darkred;
	border: none;
	color: white;
}

.little-feets {
	background: white;
	color: firebrick;
	padding-top: 60px;
	padding-bottom: 40px;
	padding-left: 24px;
	margin: auto;
	width: 1000px;
	font-family: Bahnschrift;
}